@font-face {
  font-family: tr_r;
  src: url(C:\Users\user1\Desktop\react_semi\react_semi_front\src\assets\font\TmoneyRoundWindRegular.ttf);
}

@font-face {
  font-family: tr_b;
  src: url(C:\Users\user1\Desktop\react_semi\react_semi_front\src\assets\font\TmoneyRoundWindExtraBold.ttf);
}
