/* 컴포넌트 전체 랩 */
.community_write_wrap {
  width: 900px;
  margin: 12px auto;
}

/* 게시글 작성 (맨 위 구분하기 쉽게 적어놓음)*/
.community_write_wrap > h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--primary);
  font-size: 30px;
  font-weight: 600;
}

/* 내용과 에디터 간격 */
.community_input_wrap label {
  display: block;
  margin-bottom: 10px;
}

/* 제목, 내용 글씨 키우기 및 강조 */
.community_input_wrap label {
  font-size: 20px;
  font-weight: 600;
}

.community_input_wrap {
  margin-bottom: 20px;
}

/* 버튼 (등록, 취소) */
.community_write_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

/* 텍스트 에디터 */
.editor_wrap {
  border: 1px solid var(--secendary);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--light);
}
.menu_bar {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.menu_bar button,
.menu_bar input {
  width: 50px;
  height: 50px;
  padding: 8px 12px;
  border: 1px solid var(--secendary);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--light); /*기본 배경*/
  color: var(--primary); /*기본 글자*/
}

.menu_bar button:hover {
  background-color: var(--secendary);
}
.menu_bar button:hover svg {
  fill: var(--light);
}
.menu_bar button.active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.menu_bar button.active svg {
  fill: var(--light);
}

.editor_content {
  padding: 16px;
}
.editor_content > div {
  min-height: 400px;
  background-color: var(--light);
  padding: 12px;
  outline: none;
  border: 1px solid var(--gray1);
  border-radius: 12px;
  line-height: 1.4;
}
.editor_content > div:hover {
  background-color: var(--bg);
}
.editor_content > div ul {
  padding-left: 20px;
}
