.community_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  text-align: center;
  height: 50px;
}

.comment_list_wrap {
  margin-top: 32px;
}
.comment_item {
  list-style-type: none;
  padding: 12px;
  border-bottom: none;
}
.comment_content {
  margin-top: 16px;
}
.comment_content > textarea {
  min-height: 80px;
}
