.community_list_wrap {
  margin-top: 15px;
  list-style-type: none;
  margin-bottom: 50px;
}

.community_item {
  border-top: 1px solid var(--line);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.community_item:last-child {
  border-bottom: 1px solid var(--line);
}

.community_writer_view_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.community_view_count {
  display: flex;
  gap: 8px;
  align-items: center;
}

.community_view_count > span,
.community_view_count > p {
  color: var(--gray4);
  font-size: 17px;
}

.community_writer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.community_writer > .member_thumb {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray6);
}

.community_writer > .member_thumb > span {
  color: var(--gray8);
  font-size: 40px;
}

.community_writer > .member_thumb_exists {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
}

.community_writer > .member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community_content_wrap {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.community_title {
  font-size: 18px;
  text-align: start;
  font-family: tr_b;
}

.community_content_wrap > p:hover {
  text-decoration: underline;
}

.community_info_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.community_info_item_wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.community_info_item_wrap > span,
.community_info_item_wrap > p,
.community_date_wrap > p {
  color: var(--gray4);
  font-size: 17px;
}

.community_content {
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: start;
}
