.main_wrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

/* 사진 */
.photo_wrap {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo_wrap > ul {
  height: 100%;
}
.photo_wrap > ul > li {
  border: 1px solid var(--gray6);
  border-radius: 8px;
}

/*타이틀 (제목 금액 작성일 조회수 좋아요 */
.title_info {
  border-radius: 8px;
  border: 1px solid var(--gray6);
}
/*마켓 제목*/
.title_info_title {
  text-align: center;
  margin-top: 12px;
  color: var(--gray2);
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*금액 판매자아이디 wrap*/
.title_info_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.title_info_wrap > p {
  width: 120px;
  text-align: center;
}
/*마켓 금액*/
.title_info_price {
  /*가격*/
  color: var(--secendary);
  font-size: 16px;
  font-weight: 700;
}
.title_info_price_free {
  font-size: 16px;
  font-weight: bold;
  color: var(--danger);
}
.title_info_writer {
  color: var(--gray2);
  font-size: 16px;
  font-weight: 700;
}

/*(작성일 조회수 좋아요)*/
.date_view_like {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date_view_like > p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  width: 120px;
  text-align: center;
}
.date_wrap > svg {
  fill: var(--gray2);
  font-size: 24px;
}
.viewCount_wrap > svg {
  fill: var(--secendary);
  font-size: 24px;
}
.likeCount_wrap > svg {
  fill: var(--danger);
  font-size: 24px;
}

.title_btn {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.title_btn > button {
  margin: 20px 0;
  width: 120px;
}

/* 내용*/
.content_wrap {
  padding: 4px 0;
  border-radius: 8px;
  margin: 20px 0;
  border: 1px solid var(--gray6);
}

/*수정 삭제 버튼*/
.button_wrap {
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.button_wrap > button {
  width: 200px;
}

/* 거래완료창 */
:global(.trade_ul) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
:global(.trade_li) {
  border: 1px solid var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
}

:global(.trade_buyerId) {
  width: 150px;
  flex-shrink: 0; /* 👈 중요 */
  font-weight: 600;
}
:global(.trade_message) {
  flex: 1; /* flex-grow 대신 이게 더 안정적 */
  word-break: break-word;
  overflow-wrap: break-word;
}

:global(.trade_btn) {
  width: 100px;
  flex-shrink: 0; /* 👈 버튼 안 찌그러지게 */
  cursor: pointer;
  font-size: 14px;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--light);

  transition: 0.2s;
}

/*판매완료시 노출*/
.sold_out {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: var(--light);
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: 900;
  z-index: 10;
  pointer-events: all;
}
.hidden_market {
  position: absolute;
  inset: 0;
  background: var(--light);
  border-radius: 8px;
  color: var(--danger);
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: 900;
  z-index: 10;
  pointer-events: all;
}
