  .main_wrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

/* 사진 */
.photo_wrap {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo_wrap > ul {
  height: 100%;
}
.photo_wrap > ul > li {
  border: 1px solid var(--gray6);
  border-radius: 8px;
}
/* wrap1 제목,(썸네일,날짜.조회수)*/
.wrap1{
  border : 1px solid var(--gray6);
  padding:16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.wrap1_title{/*제목*/
  border : 1px solid var(--gray6);
  background-color: var(--light );
  margin-bottom: 20px;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}
.wrap1_title>p{
  font-size: 20px;
  font-weight: 700;
  padding:15px 20px
  
}
.wrap1_info{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.wrap1_thumb{/*썸네일*/
  display: flex;
  align-items: center;
  gap:8px;
  
}

/* 회원 프로필 관련*/
.wrap1_thumb > .member_thumb {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray6);
}

.wrap1_thumb > .member_thumb > span {
  color: var(--gray8);
  font-size: 40px;
}

.wrap1_thumb > .member_thumb_exists {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
}

.wrap1_thumb > .member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*작성자*/
.title.info_writer > span{
  font-size: 11px;
}
/*마켓 금액*/
.wrap1_price{
  display: flex;
  align-items: center;

}
.title_price {
  /*가격*/
  color: var(--secendary);
  font-size: 14px;
  font-weight: 700;
}
.title_price_free {
  font-size: 14px;
  font-weight: bold;
  color: var(--danger);
}



.wrap1_date{
  display: flex;
  align-items: center;
  gap:8px;
}
.date_icon{
  fill : var(--gray4) !important;
}
.wrap1_date>p{
  font-size: 11px;
  color : var(--gray4);
}
.wrap1_like{
  display: flex;
  align-items: center;
  gap:8px;
}
.like_icon{
  fill : var(--danger) !important;
}
.wrap1_like>p{
  font-size: 11px;
  color : var(--gray4);
}
.wrap1_view{
  display :flex;
  align-items: center;
  gap:8px;
  color : var(--primary);   
}
.view_icon{
  fill: var(--primary) !important;
}
.wrap1_view>p{
  font-size: 11px;
}

.wrap1_content{
  border : 1px solid var(--gray6);
  margin-top: 20px;
  background-color: var(--light );
  padding: 10px 20px; 
  border-radius: 8px;
  min-height: 150px;
}






/*아래로 삭제*/


.title_btn {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.title_btn > button {
  margin: 20px 0;
  width: 120px;
}

/*수정 삭제 버튼*/
.button_wrap {
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.button_wrap > button {
  width: 200px;
}

/* 거래완료창 */
:global(.trade_ul) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
:global(.trade_li) {
  border: 1px solid var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
}

:global(.trade_buyerId) {
  width: 150px;
  flex-shrink: 0;
  font-weight: 600;
}
:global(.trade_message) {
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

:global(.trade_btn) {
  width: 100px;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--light);
  transition: 0.2s;
}

