/* 전체 적용 */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 전체 랩 */
.market_wrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 검색창 정렬박스 */
.market_searchbox {
  margin: 24px 0;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--light);
  display: flex;
  justify-content: center;
}
.market_searchbox > form {
  width: 900px;
  display: flex;
  gap: 4px;
  justify-content: center;
}
.market_searchbox > form > input {
  flex-grow: 1;
  outline: none;
  padding: 8px 4px 8px 16px;
  border: 1px solid var(--gray5);
  border-radius: 8px;
}
.market_searchbox > form > input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.3);
}

.market_category {
  width: 200px;
  flex-shrink: 0;
  padding: 24px;
  background-color: var(--light);
  border-radius: 12px;
}

.market_list_wrap > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.market_list_wrap > ul > li {
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-color: var(--light);
  padding: 12px;
  cursor: pointer;
}
.market_info_wrap {
  display: flex;
  gap: 12px; /*사진과 정보 간격*/
}

/* 이미지 */
.market_info_wrap > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* 이미지 없을 때 아이콘 */
.ImageNotSupportedIcon {
  width: 100%; /* li 가로 전체 */
  height: 100%; /* li 세로 전체 */
}

/* 텍스트 정보 */
.market_list_wrap > ul > li .info p {
  margin: 4px 0;
  font-size: 14px;
  word-break: break-word;
}

/* 페이지네이션 */
.market_pagination {
  height: 48px;
  margin: 24px 0;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 글쓰기 버튼 박스 */
.market_writebox {
  display: flex;
  justify-content: flex-end;
}
.market_writebox button {
  margin: 12px 0px;
}
