/* 전체 적용 */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 전체 랩 */
.market_wrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 검색창 정렬박스 */
.market_searchbox {
  margin: 24px 0;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--light);
  display: flex;
  justify-content: center;
}
.market_searchbox > form {
  width: 900px;
  display: flex;
  gap: 4px;
  justify-content: center;
}
.market_searchbox select {
  padding: 10px;
  appearance: none;
  border-radius: 4px;
  padding-right: 30px;
  border: 1px solid var(--primary);
  outline: none;
  color: var(--line);
}

.market_searchbox > form > input {
  flex-grow: 1;
  outline: none;
  padding: 8px 4px 8px 16px;
  border: 1px solid var(--gray5);
  border-radius: 8px;
}
.market_searchbox > form > input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.3);
}

.market_category {
  width: 200px;
  flex-shrink: 0;
  padding: 24px;
  background-color: var(--light);
  border-radius: 8px;
}

/* 마켓 게시물이 없을때 */
.no_result{
  padding : 16px 0;
  text-align: center; 
  border-radius: 8px;
  background-color:  var(--light);
  color : var(--primary);
  font-weight: 900  ;
}

/* 마켓리스트*/
.market_list_wrap > ul {
  display: flex;
  flex-direction: column;
  gap:12px
}
.market_list_wrap > ul > li {
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-color: var(--light);
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.market_list_wrap > ul > li:hover {
  background-color: var(--gray6);
}
.market_info_wrap {
  display: flex;
  gap: 12px; /*사진과 정보 간격*/
}

/* 이미지 */
.market_info_wrap > img {
  /*background-color: var(--gray6);*/
  border-radius: 8px;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
}
/* 정보 */
.info {
  border-radius: 8px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* 세로정렬 */
  min-width: 0;
}
.info_title {
  /* 제목 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.info_price {
  /*가격*/
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
}
.info_price_free {
  font-size: 16px;
  font-weight: bold;
  color: var(--danger);
}
.info_date,
.info_writer,
.info_viewCount,
.info_sellAddr {
  font-size: 12px;
}
.info_likeCount {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--danger);
  font-weight: 600;
  font-size: 12px;
}
.info_likeCount_icon {
  font-size: 14px !important;
}

/* 페이지네이션 */
.market_pagination {
  height: 48px;
  margin: 24px 0;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 글쓰기 버튼 박스 */
.market_writebox {
  display: flex;
  justify-content: flex-end;
}
.market_writebox button {
  margin: 12px 0px;
}
