<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.community.model.dao.CommunityDao">

	<insert id="insertCommunity">
		insert into community_tbl values
		(
			community_seq.nextval,
			#{communityTitle},
			#{communityContent}
		)
	</insert>
	
	<select id="selectOneBoard" resultType="Integer">
		select
			community_no,
			community_title,
			community_content,
			community_writer,
			to_char(community_date,'yyyy-mm-dd hh24:mi') community_date
		from community_tbl
		where community_no = #{communityNo}
	</select>
	
	<update id="updateCommunity">
		update community_tbl set
			community_title = #{communityTitle},
  			community_content = #{communityContent}
  		where board_no = #{boardNo}
	</update>
	
</mapper>
