<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.community.model.dao.CommunityDao">

	<select id="selectCommunityList" resultType="community">
		select
		community_no,
		community_title,
		community_content,
		community_writer,
		to_char(community_date, 'yyyy-mm-dd') as community_date,
		view_count,
		member_thumb,
		member_grade,
		(select count(*)
		from community_like_tbl l
		where c.community_no = l.community_no) as like_count,
		(select count(*)
		from community_dislike_tbl d
		where c.community_no = d.community_no) as dislike_count,
		(select count(*)
		from community_report_tbl r
		where c.community_no = r.community_no) as report_count
		from community_tbl c
		join member_tbl on (community_writer = member_id)
		where
		community_status = 1

		<if test="searchType==1">
			and (community_title like '%'||#{searchKeyword}||'%'
			or community_content like '%'||#{searchKeyword}||'%')
		</if>
		<if test="searchType==2">
			and community_writer = #{searchKeyword}
		</if>

		order by member_grade asc
		<if test="order == 1">, community_no desc</if>
		<if test="order == 2">, community_no asc</if>
		<if test="order == 3">, view_count desc</if>
		<if test="order == 4">, like_count desc</if>
		<if test="order == 5">, dislike_count desc</if>
		<if test="order == 6">, report_count desc</if>
		offset #{page}*#{size} rows fetch next #{size} rows only
	</select>

	<select id="selectCommunityCount" resultType="Integer">
		select count(*)
		from community_tbl
		join member_tbl m on (community_writer = m.member_id)
		where
		community_status = 1
		<if test="searchType==1">
			and (community_title like '%'||#{searchKeyword}||'%'
			or community_content like '%'||#{searchKeyword}||'%')
		</if>
		<if test="searchType==2">
			and community_writer = #{searchKeyword}
		</if>
	</select>
	
	<insert id="insertCommunity">
		insert into community_tbl values
		(
			community_seq.nextval,
			#{communityTitle},
			#{communityContent}
		)
	</insert>
	
	<select id="selectOneBoard" resultType="Integer">
		select
			community_no,
			community_title,
			community_content,
			community_writer,
			to_char(community_date,'yyyy-mm-dd hh24:mi') community_date
		from community_tbl
		where community_no = #{communityNo}
	</select>
	
	<update id="updateCommunity">
		update community_tbl set
			community_title = #{communityTitle},
  			community_content = #{communityContent}
  		where board_no = #{boardNo}
	</update>
	
	<select id="selectMainPageCommunityList" resultType="community">
		select 
			c.community_no,
			c.community_title,
			c.community_content,
			c.community_writer,
			to_char(c.community_date, 'yyyy-mm-dd hh24:mi:ss') as community_date,
			c.view_count,
			(select count(*)
			from community_like_tbl l
			where c.community_no = l.community_no) as like_count
		from community_tbl c
		join member_tbl m on (c.community_writer = m.member_id) where c.community_status = 1
		
		<if test="type == 'popular'">
			order by like_count desc, c.community_no desc
		</if>
		
		<if test="type == 'notice'">
			and m.member_grade in (1, 2) order by c.community_no desc
		</if>
		
		offset 0 rows fetch next 5 rows only
	</select>
	
</mapper>