<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<insert id="insertMember">
		INSERT INTO member_tbl VALUES (
		#{memberId},
		#{memberPw}, #{memberName}, null, #{memberEmail},
		3, NOW(),
		#{memberPostcode}, #{memberAddr}, #{memberDetailAddr}, 0, null
		)
	</insert>

	<select id="selectOneMember" resultType="member">
		SELECT
		    m.*,
		    c.hex_code
		FROM member_tbl m
		LEFT JOIN color_tbl c
		ON m.current_color_id = c.color_id
		WHERE m.member_id = #{memberId}
	</select>

	<select id="findId" resultType="string">
		SELECT member_id FROM member_tbl
		WHERE member_name = #{memberName}
		AND member_email = #{memberEmail}
	</select>

	<update id="updateTempPw">
		UPDATE member_tbl SET member_pw = #{memberPw}
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>

	<update id="updateThumbnail">
		UPDATE member_tbl SET
		member_thumb = #{memberThumb}
		WHERE member_id = #{memberId}
	</update>

	<update id="memberUpdate">
		UPDATE member_tbl SET
		member_thumb = #{memberThumb},
		member_name = #{memberName},
		member_email = #{memberEmail},
		member_postcode = #{memberPostcode},
		member_addr = #{memberAddr},
		member_detail_addr = #{memberDetailAddr},
		member_grade = #{memberGrade},
		current_color_id = #{currentColorId}
		WHERE member_id = #{memberId}
	</update>

	<delete id="memberDelete">
		DELETE FROM member_tbl
		WHERE member_id = #{memberId}
	</delete>

	<update id="updatePw">
		UPDATE member_tbl
		SET member_pw = #{memberPw}
		WHERE member_id = #{memberId}
	</update>

	<select id="selectAllMember" resultType="member">
		SELECT *
		FROM member_tbl

		<if test="searchKeyword != ''">
			<where>
				<if test="searchType==1">
					member_name LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
				<if test="searchType==2">
					member_id LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
				<if test="searchType==3">
					member_email LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
			</where>
		</if>

		<where>
			<if test="selectedGrade==1">
				AND member_grade = 1
			</if>
			<if test="selectedGrade==2">
				AND member_grade = 2
			</if>
			<if test="selectedGrade==3">
				AND member_grade = 3
			</if>
		</where>

		<if test="order==1">
			ORDER BY member_id ASC
		</if>
		<if test="order==2">
			ORDER BY member_id DESC
		</if>
		<if test="order==3">
			ORDER BY member_name ASC
		</if>
		<if test="order==4">
			ORDER BY member_name DESC
		</if>

		LIMIT #{size} OFFSET ${page*size}
	</select>

	<select id="selectMemberCount" resultType="Integer">
		SELECT COUNT(*)
		FROM member_tbl

		<where>
			<if test="searchType==1">
				member_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test="searchType==2">
				member_id LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test="searchType==3">
				member_email LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		<where>
			<if test="selectedGrade==1">
				AND member_grade = 1
			</if>
			<if test="selectedGrade==2">
				AND member_grade = 2
			</if>
			<if test="selectedGrade==3">
				AND member_grade = 3
			</if>
		</where>
	</select>

	<select id="getHexCode" resultType="String">
		SELECT c.hex_code
		FROM member_tbl m
		INNER JOIN color_tbl c
			ON m.current_color_id = c.color_id
		WHERE member_id = #{memberId}
	</select>
</mapper>
