<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.mypage.model.dao.MypageDao">
	
	<select id="findCommunityAll" resultType="communitySummary">
		SELECT
			COUNT(*),
			csv.community_no,
			csv.title, 
			csv.writer_id,
			csv.writer_name,
			TO_CHAR(csv.content_date, 'mm-dd') AS content_date,
			csv.content_status,
			csv.view_count,
			csv.like_count,
			csv.dislike_count,
			csv.comment_count,
			csv.report_count,
			
			CASE WHEN cl.member_id IS NOT NULL THEN 1 ELSE 0 END AS is_liked,
			CASE WHEN cd.member_id IS NOT NULL THEN 1 ELSE 0 END AS is_disliked,	
			CASE WHEN cc.community_comment_writer IS NOT NULL
			THEN 1 ELSE 0 END AS is_commented,
			CASE WHEN cr.member_id IS NOT NULL THEN 1 ELSE 0 END AS is_reported

		FROM community_summary_view csv

		LEFT JOIN community_like_tbl cl
			ON csv.community_no = cl.community_no
			AND cl.member_id = #{memberId}

		LEFT JOIN community_dislike_tbl cd
			ON csv.community_no = cd.community_no
			AND cd.member_id = #{memberId}

		LEFT JOIN community_comment_tbl cc
			ON csv.community_no = cc.community_no
			AND cc.community_comment_writer = #{memberId}

		LEFT JOIN community_report_tbl cr
			ON csv.community_no = cr.community_no
			AND cr.member_id = #{memberId}
			
		<if test="memberGrade == 1">
			WHERE csv.writer_id = #{memberId}
		</if>

		<if test="order == 0">
			ORDER BY csv.content_date DESC, csv.community_no DESC
		</if>
		<if test="order == 1">
			ORDER BY csv.content_date ASC, csv.community_no ASC
		</if>
		<if test="order == 2">
			ORDER BY csv.view_count DESC, csv.community_no DESC
		</if>
		<if test="order == 3">
			ORDER BY csv.like_count DESC, csv.community_no DESC
		</if>
		<if test="order == 4">
			ORDER BY csv.dislike_count DESC, csv.community_no DESC
		</if>
		<if test="order == 5">
			ORDER BY csv.report_count DESC, csv.community_no DESC
		</if>
		
		OFFSET #{page} * #{size} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
</mapper>
