.item_wrap {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  border: 1px solid var(--gray4);
  border-radius: 8px;
  padding: 10px;
}

.item_title {
  font-size: 24px;
}

.item_info {
  display: flex;
  gap: 10px;
}

.item_info > div {
  font-size: 15px;
  color: var(--gray4);
}

.item_actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.item_actions > div {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--gray4);
}

.item_actions_report {
  margin-left: auto;
}

.item_actions > div > svg {
  font-size: 16px;
  fill: var(--gray4);
}

.item {
  display: flex;
  gap: 20px;
}

.switch {
  align-self: center;
}

.btn {
  width: 50px;
  height: 25px;
  border-radius: 8px;
  border: 1px solid var(--gray0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
