.item_wrap {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.item_title {
  font-size: 24px;
}

.item_info {
  display: flex;
  gap: 10px;
}

.item_info > div {
  font-size: 15px;
  color: var(--gray4);
}

.item_actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.item_actions > div {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--gray4);
}

.item_actions_report {
  margin-left: auto;
}

.item_actions > div > svg {
  font-size: 16px;
  fill: var(--gray4);
}

.item {
  display: flex;
  gap: 50px;
}

.switch {
  align-self: center;
}
